<!DOCTYPE html>
        <html>
<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <body>
    <img src="http://technabob.com/blog/wp-content/uploads/2010/10/101810_rg_Stormtrooper404_01.jpg">
</body>
</head>
</html>