<% include header %>
<form method="post">
    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="addon_usrname">@</span>
        <input type="text" class="form-control" name="username" placeholder="username" style="width:20em"><br/>
    </div>
    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="addon_pwd">@</span>
        <input type="password" class="form-control" name="password" placeholder="password" style="width:20em"><br/>
    </div>
    <br/>
    <input type="submit" value="Login" class="btn btn-success"/>
</form>
<%include footer %>