<br />
<div>
    <% if (!isFirstPage) { %>
    <span class="prepage"><a title="Previous" href="?p=<%= page-1 %>">Previous</a></span>
    <% } %>

    <% if (!isLastPage) { %>
    <span class="nextpage"><a title="next" href="?p=<%= page+1%>">Next</a></span>
    <% } %>
</div>