<%- include header %>

<%- include footer %>
<div>
    <label for="article_title">Title</label>
    <form method="post">
        <input type="text" name="article_title" width="200em"><br/>
        <label for="context">Context</label><br/>
        <textarea name="context" rows="20" cols="60"></textarea><br/>
        <label for="tag1">Label</label><br />
        <input type="text" name="tag1"><input type="text" name="tag2"><input type="text" name="tag3"><br/>
        <input type="submit" name="post" class="btn btn-success" width="20em">
    </form>
</div>


